<div class="main-panel bg-transparent">
    <div class="content-wrapper">
        <nav aria-label="Page navigation example" class="seperator" id="seperator">
            <ul class="d-flex justify-content-center">
                <li class="page-item" id="linkAll">
                    <a class="page-link active" href="#">Show All Photos</a>
                </li>
                <li class="page-item" id="linkClass">
                    <a class="page-link" href="#">Class Photos</a>
                </li>
                <li class="page-item" id="linkPerson">
                    <a class="page-link" href="#">Individual Photos</a>
                </li>
                <li class="page-item" id="linkGrad">
                    <a class="page-link" href="#">Graduation Photos</a>
                </li>
            </ul>
        </nav>

        <section class="sarah-section" id="sarah-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">

                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    <span class="text-capitalize">{{child.name}}'s</span> Class Photos
                                </h1>
                            </div>
                            <div class="col-md-4 unique-btn pb-lg-5" id="unique-btn">
                                <a href="./checkout.html">
                                    <button>
                                        Download photos <i class="icon-arrow-right"></i> <span>0</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(1)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(3)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-4\ \(1\).jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(4)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-5.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(5)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-6.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(6)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        
        

        <section class="sarah-section form--hidden" id="sarah-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">

                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    <span>{{child.name}}'s</span> Class Photos
                                </h1>
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                
                                        {{!-- {{#each pictures}}
                                
                                
                                
                                        <div class="carousel-item active">
                                            <img src={{wm}} class="d-block w-100" alt="...">
                                        </div>
                                
                                
                                
                                        {{/each}} --}}

                                        <div class="picturess text-center bg-dark">
                                            {{#each pictures}}
                                            <div class="watermark">
                                                {{!-- <p>codar</p> --}}
                                                <div class="imgg">
                                                    <img src={{wm}} alt="" class="watermark">
                                                </div>
                                                <a href="/parent/order/{{pixname}}">Order</a>
                                            </div>
                                            {{/each}}
                                        
                                        
                                        
                                        </div>
                                
                                
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="col-md-4 unique-btn pb-lg-5" id="unique-btn">
                                <a href="/parent/proceedall">
                                    <button>
                                        Download photos <i class="icon-arrow-right"></i> <span>0</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/class-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/class-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/class-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/class-4\ \(1\).jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/class-5.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/class-6.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{!-- <section class="individual-section" id="individual-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    <span>Sarah's</span> Individual Photos
                                </h1>
                            </div>
                            <div class="col-md-4 unique-btn pb-lg-5" id="unique-btn">
                                <a href="./summary.html">
                                    <button>
                                        Download photos <i class="icon-arrow-right"></i> <span>0</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/individual-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlides(1)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/individual-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/individual-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(3)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/individual-4.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(4)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/individual-5.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(5)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(/images/individual-6.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(6)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div id="3-Modal" class="modal">
            <div class="modal-content">
                <span class="close cursor" onclick="closeModal2()"><i class="icon-close demi-close"></i></span>
                <div class="mySlides 2-Slide">
                    <div class="numbertext">1 / 6</div>
                    <img src="./images/individual-1.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">2 / 6</div>
                    <img src="images/individual-2.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">3 / 6</div>
                    <img src="./images/individual-3.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">4 / 6</div>
                    <img src="./images/individual-4.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">5 / 6</div>
                    <img src="./images/individual-5.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">6 / 6</div>
                    <img src="./images/individual-6.jpeg" style="width: 100%" />
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlide2(-1)">&#10094;</a>
                <a class="next" onclick="plusSlide2(1)">&#10095;</a>

                <!-- Caption text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>


            </div>
        </div>

        <section class="graduation-section" id="graduation-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    <span>{{student.name}}'s</span> Graduation Photos
                                </h1>
                            </div>
                            <div class="col-md-4 unique-btn pb-lg-5" id="unique-btn">
                                <a href="./summary.html">
                                    <button>
                                        Download photos <i class="icon-arrow-right"></i> <span>0</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(1)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(3)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-4.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(4)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-5.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-6.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(6)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="4-Modal" class="modal">
            <div class="modal-content">
                <span class="close cursor" onclick="closeModal3()"><i class="icon-close demi-close"></i></span>
                <div class="mySlides 3-Slide">
                    <div class="numbertext">1 / 6</div>
                    <img src="/images/grad-1.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">2 / 6</div>
                    <img src="images/grad-2.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">3 / 6</div>
                    <img src="/images/grad-3.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">4 / 6</div>
                    <img src="/images/grad-4.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">5 / 6</div>
                    <img src="/images/grad-5.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">6 / 6</div>
                    <img src="/images/grad-6.jpeg" style="width: 100%" />
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlide3(-1)">&#10094;</a>
                <a class="next" onclick="plusSlide3(1)">&#10095;</a>

                <!-- Caption text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>

            </div>
        </div> --}}

    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="">
            <div class="row footer-container">
                <div class="col-lg-2 col-md-3">
                    <h5>About Us</h5>
                    <p><a href="/index.html">Our Team</a></p>
                    <p><a href="/services.html">Career</a></p>
                    <p><a href="#blog-section">Our Goods</a></p>
                    <p><a href="#blog-section">Popular Searches</a></p>
                    <p><a href="#blog-section">PhotoG Blog</a></p>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5>Services</h5>
                    <p><a href="/index.html">Premium Quality</a></p>
                    <p><a href="/services.html">Packages</a></p>
                    <p><a href="#blog-section">Coupons</a></p>
                    <p><a href="#blog-section">Unique Codes</a></p>
                </div>
                <div class="col-lg-5 col-md-3">
                    <h5>Contact Us</h5>
                    <p>
                        <a href="/index.html"><i class="icon-envelope-o"></i> contact@photog.com</a>
                    </p>
                    <p>
                        <a href="/index.html"><i class="icon-phone"></i> +872 5648473</a>
                    </p>
                    <p>
                        <a href="/index.html">Chat with us <i class="icon-arrow-right"></i></a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 dark-logo">
                    <a href="#hero-section">
                        <img src="/images/logo-dark.png" alt="" />
                    </a>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-10 footer-script">
                        <p>
                            
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            PhotoG, Inc
                        </p>
                    </div>
                    <div class="col-md-2">
                        <div class="row icons">
                            <div class="col-md-5">
                                <a href="">
                                    <i class="icon-twitter"></i>
                                </a>
                                <h6>Twitter</h6>
                            </div>
                            <div class="col-md-5">
                                <a href="">
                                    <i class="icon-facebook"></i>
                                </a>
                                <h6>Facebook</h6>
                            </div>
                            <div class="col-md-2">
                                <a href="">
                                    <i class="icon-instagram"></i>
                                </a>
                                <h6>Instagram</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- partial -->
</div>