<div class="main-panel">
    <div class="content-wrapper">
        <div class="container">
            
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    

                    <div class="card-body">
                        <div style="display: flex;justify-content:end;">
                            <div class="w-45">
                                <p>Parent Sign up code</p>
                                <h6 class="text-success" id="clipr">copied to clipboard </h6>
                                
                                <span class="btn btn-warning px-3 py-2 text-capitalize ccopy" onclick="clickpar()">
                                    Copy: <span id="clickpar">{{student.signparent}}</span>
                                </span>
                                
                                <a href="/admin/schoolcode/{{student.userid}}" class="btn btn-success fs-30 px-3 py-2 text-capitalize">
                                    Hash new code
                                </a>
                                
                                {{!-- <p class="card-description">Upload page</p> --}}
                            </div>
                        </div>
                        <h1 class="card-title">{{student.name}}</h1>

                        <h4 class="text-capitalize">{{student.schoolname}}</h4>
                        
                        <h4 class="card-title text-muted">{{student.classs}}</h4>

                        
                        
                        {{!-- <form action="" method="" enctype="multipart/form-data" id="exam"></form> --}}
                        
                        <div class="multiple-uploader" id="multiple-uploader">
                            <div class="mup-msg">
                                <span class="mup-main-msg">click to upload images.</span>
                                <span class="mup-msg" id="max-upload-number">Upload up to 10 images</span>
                                <span class="mup-msg">Only images, pdf and psd files are allowed for upload</span>
                            </div>
                        </div>
                        <form class="forms-sample mx-auto d-flex justify-content-center" id="exo" enctype="multipart/form-data" action="/admin/uploads" method="post">
                        
                        
                        
                            <button type="submit" class="btn btn-primary mr-2">
                                Upload
                            </button>
                            
                        </form>
                        
                    </div>
                    <div style="display: flex;justify-content:end;" class="pr-2">
                        <a style="font-family: cursive;color:red;text-transform:capitalize" href="/admin/delete/{{student.userid}}">Delete {{student.name}}'s account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>